<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <application
        android:name=".GalleryApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gallery"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
        </activity>

        <activity-alias
            android:name=".MainActivityLauncherDefault"
            android:targetActivity=".MainActivity"
            android:enabled="true"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:label="@string/app_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityLauncherVariant1"
            android:targetActivity=".MainActivity"
            android:enabled="false"
            android:icon="@mipmap/ic_launcher_variant1"
            android:roundIcon="@mipmap/ic_launcher_variant1_round"
            android:label="@string/app_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityLauncherVariant2"
            android:targetActivity=".MainActivity"
            android:enabled="false"
            android:icon="@mipmap/ic_launcher_variant2"
            android:roundIcon="@mipmap/ic_launcher_variant2_round"
            android:label="@string/app_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".PhotoViewActivity"
            android:exported="false"
            android:theme="@style/Theme.Gallery"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize" />

        <activity
            android:name=".VideoPlayerActivity"
            android:exported="false"
            android:theme="@style/Theme.Gallery"
            android:configChanges="orientation|screenSize|screenLayout" />

        <activity
            android:name=".WallpaperPreviewActivity"
            android:exported="false"
            android:theme="@style/Theme.Gallery.NoActionBar"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize" />

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity
            android:name=".ImageEditActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Gallery.NoActionBar" />

        <activity
            android:name=".ui.secure.PinSetupActivity"
            android:exported="false"
            android:theme="@style/Theme.Gallery.NoActionBar" />

        <activity
            android:name=".ui.secure.PinEntryActivity"
            android:exported="false"
            android:theme="@style/Theme.Gallery.NoActionBar" />

        <activity
            android:name=".ui.albums.ChangeCoverActivity"
            android:exported="false"
            android:theme="@style/Theme.Gallery" />

        <activity
            android:name=".ui.secure.SecureSettingsActivity"
            android:exported="false"
            android:label="@string/title_secure_settings"
            android:theme="@style/Theme.Gallery" />

        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="settings"
            android:theme="@style/Theme.Gallery" />


    </application>

</manifest>